<h3>This is Client Component</h3>
<pre>
<h1>To create a new/custom component</h1>
Steps
1) Add a folder with that component name under app folder (as sub folder)

2) Add component_name.component.ts file

<p>i)import Opening AngularBracket  Component Closing AngularBracket from '@angular/core' //here C of Component is capital</p>

ii)build that component 

        with  
             selector : 'app-NewComponentName',
             templateUrl : './NewComponentName/NewComponentName.component.html' //give it the html component file URL
        

3) Need to export This Class

export class NewComponentNameComponent

4)Add Somthing to your HTML Page if this component 5) Now need to include this component so it will display on web page

Register or add this component in app.component.html file

like appNewComponentName> app-NewComponentName>

This is it....!
</pre>